---
- name: Create network
  openstack.cloud.network:
     cloud: "{{ cloud }}"
     state: present
     name: "{{ network_name }}"
     external: "{{ network_external }}"

- name: Create subnet
  openstack.cloud.subnet:
     cloud: "{{ cloud }}"
     state: present
     name: "{{ subnet_name }}"
     network_name: "{{ network_name }}"
     cidr: 10.5.5.0/24

- name: Create port (no security group or default security group)
  openstack.cloud.port:
     cloud: "{{ cloud }}"
     state: present
     name: "{{ port_name }}"
     network: "{{ network_name }}"
     no_security_groups: "{{ no_security_groups }}"
     fixed_ips:
       - ip_address: 10.5.5.69
  register: port

- debug: var=port

- name: Delete port (no security group or default security group)
  openstack.cloud.port:
     cloud: "{{ cloud }}"
     state: absent
     name: "{{ port_name }}"

- name: Create security group
  openstack.cloud.security_group:
     cloud: "{{ cloud }}"
     state: present
     name: "{{ secgroup_name }}"
     description: Test group

- name: Create port (with security group)
  openstack.cloud.port:
     cloud: "{{ cloud }}"
     state: present
     name: "{{ port_name }}"
     network: "{{ network_name }}"
     fixed_ips:
       - ip_address: 10.5.5.69
     security_groups:
       - "{{ secgroup_name }}"
  register: port

- debug: var=port

- name: Delete port (with security group)
  openstack.cloud.port:
     cloud: "{{ cloud }}"
     state: absent
     name: "{{ port_name }}"

- name: Create port (with allowed_address_pairs and extra_dhcp_opts)
  openstack.cloud.port:
     cloud: "{{ cloud }}"
     state: present
     name: "{{ port_name }}"
     network: "{{ network_name }}"
     no_security_groups: "{{ no_security_groups }}"
     allowed_address_pairs:
       - ip_address: 10.6.7.0/24
     extra_dhcp_opts:
       - opt_name: "bootfile-name"
         opt_value: "testfile.1"
  register: port

- debug: var=port

- name: Delete port (with allowed_address_pairs and extra_dhcp_opts)
  openstack.cloud.port:
     cloud: "{{ cloud }}"
     state: absent
     name: "{{ port_name }}"

- name: Delete security group
  openstack.cloud.security_group:
     cloud: "{{ cloud }}"
     state: absent
     name: "{{ secgroup_name }}"

- name: Test port binding config (runs from train release sdk > 0.28)
  block:
    - name: Create port (with binding profile)
      openstack.cloud.port:
        cloud: "{{ cloud }}"
        state: present
        name: "{{ port_name }}"
        network: "{{ network_name }}"
        binding_profile: "{{ binding_profile }}"
      register: port

    - name: Assert binding:profile exists in created port
      assert:
        that: "port.port['binding:profile']"

    - debug: var=port

    - name: Delete port (with binding profile)
      openstack.cloud.port:
        cloud: "{{ cloud }}"
        state: absent
        name: "{{ port_name }}"
  when: sdk_version is version(0.28, '>')

- name: Delete subnet
  openstack.cloud.subnet:
     cloud: "{{ cloud }}"
     state: absent
     name: "{{ subnet_name }}"

- name: Delete network
  openstack.cloud.network:
     cloud: "{{ cloud }}"
     state: absent
     name: "{{ network_name }}"
